<ion-view class="ion-view">
    <ion-nav-bar class="home-title">
        <h5>John Doe</h5>
        <p class="home-title-p">Professional Photographe</p>
        <ion-nav-buttons class="ion-nav-buttons" side="right">
            <a href="index.html"><img src="images/home.png"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="folio-banner padding" overflow-scroll="true">
        <div class="main inner">



            <ul class="main-top main-pic">
                <li><img src="images/main1_03.jpg"></li>
                <li class="main-two main-two-midd main-font">

                    <img src="images/4.jpg">

                </li>
                <li> <img src="images/main2_03.jpg"></li>
                <li class="main-one-midd"><img src="images/1.jpg"></li>
                <li class="main-two"><img src="images/311_07.jpg"></li>
                <li class="main-font">
                    <img src="images/5.jpg">

                </li>
            </ul>






            <ul class="main-midd main-pic">
                <li class="main-one-midd"><img src="images/1.jpg"></li>
                <li class="main-two"><img src="images/311_07.jpg"></li>
                <li class="main-font">
                    <img src="images/5.jpg">

                </li>
            </ul>







            <ul class="main-bottom main-pic">
                <li class="main-font">
                    <img src="images/2.jpg">


                    </p>
                </li>
                <li class="main-bottom-right"><img src="images/3.jpg"></li>
            </ul>

            <div class="clear"></div>
        </div>
    </ion-content>

</ion-view>