<ion-view class="ion-view">
    <ion-nav-bar class="home-title">
        <h5>John Doe</h5>
        <p class="home-title-p">Professional Photographe</p>
        <ion-nav-buttons class="ion-nav-buttons" side="right">
            <a href="index.html"><img src="images/home.png"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="padding" overflow-scroll="true">
        <ion-slide-box auto-play="true" slide-interval="3000"
                       does-continue="true" show-pager="false">
            <ion-slide class="imgbox">
                <div class="box"><img src="images/slider/1.jpg"></div>
                <p class="swipe-text">Swipe me from your mobile!</p>
            </ion-slide>
            <ion-slide class="imgbox">
                <div class="box"><img src="images/slider/2.jpg"></div>
                <p class="swipe-text">Come on! Swipe me!</p>
            </ion-slide>
            <ion-slide class="imgbox" >
                <div class="box"><img src="images/slider/3.jpg"></div>
                <p class="swipe-text">Test me on your phone!</p>
            </ion-slide>
            <ion-slide class="imgbox">
                <div class="box"><img src="images/slider/4.jpg"></div>
                <p class="swipe-text">You'll love me!</p>
            </ion-slide>
        </ion-slide-box>
        <div class="home-title-bottom">
            <h5>Elegance, boldness, attitude!</h5>
            <p class="home-title-p">
                Let's take a step forward! Boldness, dark and white colors, amazing design! The rest, you'll see!</p>
        </div>
        <div class="home-title-bottom">
            <h5>Works with iPhone</h5>
            <img src="images/iphone.png"><span class="home-title-p ">
                Bold, with a big attitude, the colors are crazy perfect, and hardcore! Crisp retina elements to make it even better! </span>
            <h5>Works with Android</h5>
            <img src="images/android.png"><span class="home-title-p ">
                Of course it works with Android as well! Android doesn't have retina but nevertheless it looks awesome! </span>
        </div>
    </ion-content>
</ion-view>