<ion-view class="ion-view">
    <ion-content overflow-scroll="true">
        <div class="left-side">
            <img class="logo replace-2x" width="150" src="images/logo.png" alt="img">
            <div class="clear"></div>
            <img class="phon-icon replace-2x" width="17" src="images/nav/phone.png" alt="img">
            <div class="clear"></div>
            <img class="mail-icon replace-2x" width="17" src="images/nav/mail.png" alt="img">
        </div>
        <div class="right-side">
            <ul class="navigation">
                <li class="navigation-item"><a ui-sref="home"><span> > </span>Home</a></li>
                <li class="navigation-item"><a ui-sref="about"><span> > </span>About</a></li>
                <li class="navigation-item"><a ui-sref="folio"><span> > </span>Portfolio</a></li>
                <li class="navigation-item"><a ui-sref="contact"><span> > </span>Contact</a></li>
            </ul>

            <ul class="contact-footer">
                <li class="footer-item"><a href="tel:+1 23 4567 890"></a>Touch to call!</li>
                <li class="footer-item"><a href="mailto:mail@domain.com"></a>Touch to mail!</li>
            </ul>
        </div>
    </ion-content>
</ion-view>